<!DOCTYPE html>
<html layout:decorate="~{layout/basic.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>주문내역 조회</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid darkgray;
            padding: 8px;
            text-align: center;
        }

        .searchDiv {
            display: flex;
        }

        .searchDiv > div {
            margin-right: 10px;
        }

        .searchContainer {
            margin-left: 85px;
            margin-bottom: 10px;
        }

    </style>
</head>

<div layout:fragment="content">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주문내역</h1>
    <div class="searchContainer">
        <div class="searchDiv">
            <div>
                <button type="button">최근 1년</button>
                <button type="button">1주일</button>
                <button type="button">1개월</button>
                <button type="button">3개월</button>
            </div>
            <div>
                <input type="date" placeholder="-">
            </div>
            <div>
                <input type="date" placeholder="-">
            </div>
            <div>
                <input type="text" placeholder="상품명/브랜드명으로 검색">
            </div>
            <button type="button">조회하기</button>
        </div>
    </div>

    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">


        <table style="width: 90%">
            <colgroup>
                <!--            <col style="width:*">-->
                <col style="width:42%">
                <col style="width:10%">
                <col style="width:18%">
                <col style="width:15%">
                <col style="width:15%">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">상품정보</th>
                <th scope="col">주문일자</th>
                <th scope="col">주문번호</th>
                <th scope="col">주문금액(수량)</th>
                <th colspan="2" scope="col">주문 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: left;">
                    <div>
                        <a href="/app/goods/3607756/0">
                            <img alt="PUSSYCAT KNIT HAT, BLACK"
                                 src="//image.msscdn.net/images/goods_img/20231006/3607756/3607756_16965581044285_100.jpg">
                        </a>
                        <ul>


                            <li><a href="https://www.musinsa.com/brands/plzproject">플리즈프로젝트</a></li>
                            <li><a href="/app/goods/3607756/0">PUSSYCAT KNIT HAT, BLACK</a></li>
                            <li>
                                색상 :
                                FREE
                            </li>
                            <li>
                                사이즈 :
                                FREE
                            </li>
                        </ul>
                    </div>
                </td>
                <td>2024.01.08</td>
                <td>
                    <a href="/order-service/mypage/order_view/?ord_no=202401080051130004&page=1">202401080051130004</a>
                </td>
                <td>57,660원<br><span>(1개)</span></td>
                <td>
                    <div>주문접수</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            debugger
            const member = [[${#authentication.principal.username}]];
            let msgTag = $('#member');
            msgTag.text(member + "님, 주문해주셔서 감사합니다.");
        });
    </script>
</div>
