<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Header style */
        .card-header {
            background-color: #343a40; /* Dark gray */
            color: white; /* White text */
        }

        /* Button style */
        .btn-outline-secondary {
            color: black; /* Black text */
            border-color: black; /* Black border */
        }

        .btn-outline-secondary:hover {
            color: white; /* White text on hover */
            background-color: black; /* Black background on hover */
            border-color: black; /* Black border on hover */
        }

        .btn-outline-secondary:focus {
            box-shadow: none; /* Remove focus shadow */
        }

        .btn-outline-secondary:active {
            background-color: black; /* Black background on active */
            border-color: black; /* Black border on active */
        }
    </style>
</head>

<body>
<div layout:fragment="content" class="container">
    <div class="row mt-3">
        <form action="/admin/list" method="get" class="col">
            <input type="hidden" name="size" th:value="${itemPageRequestDTO.size}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-select" name="type">
                        <option value="">---</option>
                        <option value="n" th:selected="${itemPageRequestDTO.type =='n'}">제목</option>
                        <option value="c" th:selected="${itemPageRequestDTO.type =='c'}">내용</option>
                        <option value="s" th:selected="${itemPageRequestDTO.type =='s'}">작성자</option>
                        <option value="nc" th:selected="${itemPageRequestDTO.type =='nc'}">제목 내용</option>
                        <option value="ncs" th:selected="${itemPageRequestDTO.type =='ncs'}">제목 내용 작성자</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="keyword" th:value="${itemPageRequestDTO.keyword}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                    <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Admin List
                </div>
                <div class="card-body">
                    <h5 class="card-title">Admin List</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bno</th>
                            <th scope="col">Title</th>
                            <th scope="col">Writer</th>
                            <th scope="col">RegDate</th>
                        </tr>
                        </thead>
                        <tbody th:with="link = ${itemPageRequestDTO.getLink()}">
                        <tr th:each="dto:${itemDTO.dtoList}">
                            <td>[[${dto.ino}]]</td>
                            <td>
                                <a th:href="|@{/admin/read(ino =${dto.ino})}&${link}|" class="text-decoration-none"> [[${dto.i_name}]] </a>
                                <div th:if="${dto.itemImages != null && dto.itemImages.size() > 0}">
                                    <img style="width:100px" th:each="iteImage: ${dto.itemImages}" th:src="|/view/s_${iteImage.uuid}_${iteImage.fileName}|">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${itemDTO.prev}">
                                <a class="page-link" th:data-num="${itemDTO.start -1}">Previous</a>
                            </li>
                            <th:block th:each="i: ${#numbers.sequence(itemDTO.start, itemDTO.end)}">
                                <li th:class="${itemDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${itemDTO.next}">
                                <a class="page-link" th:data-num="${itemDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();

    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/admin/list'

    }, false)

    //show modal
    const result = [[${result}]]

    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if (result) {
        modal.show()
    }
</script>

</body>

</html>
