<!DOCTYPE html>
<html layout:decorate="~{layout/basic.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>주문내역 조회</title>
    <style>

    </style>
</head>

<div layout:fragment="content">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주문내역</h1>
    <div class="searchContainer">
        <form action="/admin/list" method="get">
            <div class="searchDiv">
                <input name="size" th:value="${itemPageRequestDTO.size}" type="hidden">
                <!--페이지 번호를 클릭하면 요자리에 name="page"로 input hidden 태그가 생김-->
<!--                <div>-->
<!--                    <button type="button">최근 1년</button>-->
<!--                    <button type="button">1주일</button>-->
<!--                    <button type="button">1개월</button>-->
<!--                    <button type="button">3개월</button>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input placeholder="-" type="date">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input placeholder="-" type="date">-->
<!--                </div>-->
                <div>
                    <select class="form-select" name="type">
                        <option value="">---</option>
                        <option value="n" th:selected="${itemPageRequestDTO.type =='n'}">제목</option>
                        <option value="c" th:selected="${itemPageRequestDTO.type =='c'}">내용</option>
                    </select>
                </div>
                <div>
                    <input name="keyword" placeholder="상품명으로 검색" th:value="${itemPageRequestDTO.keyword}" type="text">
                </div>
                <button class="searchBtn" type="submit">조회하기</button>
            </div>
        </form>
    </div>

    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <table style="width: 90%">
<!--            <colgroup>-->
<!--                <col style="width:25%">-->
<!--                <col style="width:25%">-->
<!--                <col style="width:25%">-->
<!--                <col style="width:25%">-->
<!--            </colgroup>-->
            <tbody th:with="link = ${itemPageRequestDTO.getLink()}">
            <tr th:each="dto:${itemDTO.dtoList}">
                <td>[[${dto.ino}]]</td>
                <td>
                    <a th:href="|@{/admin/read(ino =${dto.ino})}&${link}|" class="text-decoration-none"> [[${dto.i_name}]] </a>
                    <div th:if="${dto.itemImages != null && dto.itemImages.size() > 0}">
                        <img style="width:100px" th:each="iteImage: ${dto.itemImages}" th:src="|/view/s_${iteImage.uuid}_${iteImage.fileName}|">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paginationContainer"> <!--페이징-->
        <ul class="pagination">
            <li class="page-item" th:if="${itemDTO.prev}">
                <a class="page-link" th:data-num="${itemDTO.start -1}">Previous</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(itemDTO.start, itemDTO.end)}">
                <li th:class="${itemDTO.page == i}?'page-item active':'page-item'">
                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                </li>
            </th:block>
            <li class="page-item" th:if="${itemDTO.next}">
                <a class="page-link" th:data-num="${itemDTO.end + 1}">Next</a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        document.querySelector(".pagination").addEventListener("click", function (e) { // ul
            debugger
            let target = e.target

            if (target.tagName !== 'A') {
                return
            }
            // 클릭 이벤트가 일어난 a태그의 data-num 속성을 가져옴
            let num = target.getAttribute("data-num")
            // form 태그에 대한 정보를 담는다. <form action="/orders/list" method="get">
            let formObj = document.querySelector("form")
            // get정보에 page=num 값 추가
            formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
            // 저장
            formObj.submit();

        }, false)

        // document.querySelectorAll(".o_ordersnoA").forEach(function (element) {
        //     // 주문번호 a태그가 여러개라서 각각의 태그마다 이벤트 리스너를 걸어줌
        //     element.addEventListener("click", function (e) { // 주문번호 a태그 클릭 시
        //         debugger;
        //         e.preventDefault(); // href 속성 동작 막기
        //         let target = e.target;
        //         if (target.tagName !== 'A') {
        //             return;
        //         }
        //         // 클릭 이벤트가 일어난 a태그의 data-ono 속성을 가져옴
        //         let ono = target.getAttribute("data-ono");
        //         // 상세조회는 get 방식으로 @Param을 사용해 ono를 받는다.
        //         let newHref = "/orders/detail?ono=" + ono;
        //         // 상세조회 url로 이동
        //         window.location.href = newHref;
        //     }, false);
        // });
    </script>
</div>
