<!DOCTYPE html>
<html layout:decorate="~{layout/basic.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>아이템 수정</title>
</head>
<div layout:fragment="content">
    <div>
            <h2>아이템 수정</h2>


    <!-- 수정 폼 -->
    <form id="FormTag" action="@{/admin/modify}" method="post">
              <input type="hidden" th:value="${itemDTO.ino}" name="ino" id="ino" >
        <div>
            <label for="itemName">상품명</label>
            <input id="itemName" name="i_name"  th:value="${itemDTO.ino}" type="text"  required>
        </div>
        <div>
            <label for="itemPrice">상품 가격</label>
            <div>
                <span>₩</span>
                <input id="itemPrice" type="number" name="i_price" required>
            </div>
        </div>

        <div id="uploadFileNamesDIV"> <!--업로드를 위한 파일 이름을 담기 위한 DIV 생성-->
            <div>
                <label for="itemTitleImage">대표 이미지</label>
                <input type="file" id="itemTitleImage" name="files"
                       onchange="previewImage(event, 'titlePreview')" required>
                <div id="titlePreview"><!--파일 선택 시 미리보기 tag가 여기 있다는 뜻--></div>
            </div>



            <div>
                <label for="itemInfoImage">설명 이미지</label>
                <input type="file" id="itemInfoImage" name="files"
                       onchange="previewImage(event, 'infoPreview')" required multiple>
                <div id="infoPreview"><!--파일 선택 시 미리보기--></div>
            </div>

        </div> <!--업로드를 위한 파일 이름을 담기 위한 DIV-->

        <div>
            <label for="itemColor">색상</label>
            <input id="itemColor" name="i_color" type="text">
        </div>

        <div>
            <label for="itemSize">사이즈</label>
            <input id="itemSize" name="i_size" type="text">
        </div>

        <div>
            <label for="itemStock">재고</label>
            <input id="itemStock" name="i_stock" type="number" required>
        </div>
        <div id="imagePreview"></div>

        <button type="submit">수정</button>
        <button type="button" class="listBtn"> 리스트 </button>
        <button type="button" class="removeBtn"> 삭제</button>
    </form>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--웹 애플리케이션에서 서버로 데이터를 보내거나 서버에서 데이터를 가져올 때 사용됩니다.-->
<script src="/js/upload.js"></script> <!--업로드를 위한 속성-->
<script th:src="@{/js/reply.js}"></script><!--프론트 깨짐 체크용-->

<script>
    function previewImage(event, previewId){ <!--previewImage-->
        debugger
        const previewContainer = document.getElementById(previewId);
        previewContainer.innerHTML = ''; <!--previewContainer의 내용을 담을 객체 생성-->
        const files = event.target.files;
        <!--변수의 값은 이벤트 객체(event)의 target 속성에서 files 속성을 가져온 것입니다.-->

        const formObj = new FormData();

        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            console.log(result)
            //      {
            //     "uuid": "11ddcb6c-4fff-45d5-a495-04513459164c",
            //         "fileName": "스크린샷 2024-04-22 104724.png",
            //         "img": true,
            //         "link": "s_11ddcb6c-4fff-45d5-a495-04513459164c_스크린샷 2024-04-22 104724.png"
            // }
            if (result != null) {
                for (let i = 0; i < result.length; i++) {
                    const imgElement = document.createElement('img');
                    imgElement.src = "/view/" + result[i].link;
                    imgElement.setAttribute('data-a', result[i].uuid + "_" + result[i].fileName);
                    // http://localhost:8008/admin/097bb816-d592-43d2-bdab-d82417b2f07d_%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202024-04-23%20165539.png
                    previewContainer.appendChild(imgElement);
                }
            }
        }).catch(e => {
            console.log("에러")
        })


    }




    const formObj = document.querySelector('#FormTag'); <!--전체 수정 폼 div 변수명 생성-->
    debugger;

    // itemDTO.i_name의 값을 가져와 placeholder로 설정 // 근데 구현 안됌
    var itemNamePlaceholder = "<%= itemDTO.getI_name() %>";
    document.getElementById("itemName").placeholder = itemNamePlaceholder;
    console.log(itemNamePlaceholder)





    <!--상품 삭제 -->
    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()
        debugger;

        formObj.action = `/admin/remove`
        formObj.method ='post'
        formObj.submit()
    }, false)

    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()
        debugger;

        formObj.reset()
        self.location =`/admin/list?${formObj.querySelector('[name="ino"]').value}`

    }, false)






</script>

