<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}"><head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<!-- 사용자 스크립트 추가 -->
<body>
<!-- 사용자 CSS 추가 -->

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" th:value="${item.id}">

    <div>
        <div>
            <img th:src="${item.itemImgDtoList[0].imgUrl}" th:alt="${item.itemNm}">
        </div>
        <div>
            <span th:if="${item.itemSellStatus == T(org.zerock.shop.constant.ItemSellStatus).SELL}">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == T(org.zerock.shop.constant.ItemSellStatus).SELL}">
                품절
            </span>
            <div th:text="${item.itemNm}"></div>
            <hr>

            <div>
                <div>
                    <input type="hidden" th:value="${item.price}">
                    <span th:text="${item.price}"></span>원
                </div>
                <div>
                    <div>
                        <span>수량</span>
                    </div>
                    <input type="number" value="1" min="1">
                </div>
            </div>
            <hr>

            <div>
                <h5>결제 금액</h5>
                <h3></h3>
            </div>
            <div th:if="${item.itemSellStatus == T(org.zerock.shop.constant.ItemSellStatus).SELL}">
                <button type="button">장바구니 담기</button>
                <button type="button">주문하기</button>
            </div>
            <div th:unless="${item.itemSellStatus == T(org.zerock.shop.constant.ItemSellStatus).SELL}">
                <button type="button">품절</button>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h4>상품 상세 설명</h4>
            <hr>
            <p></p>
        </div>
    </div>

    <div>
        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" width="800">
    </div>

</div>

</body></html>
