<!DOCTYPE html>
<html layout:decorate="~{layout/basic.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 스크립트 추가 -->

<!-- 사용자 CSS 추가 -->
<head>
    <style>
        .mgb-15 {
            margin-bottom: 15px;
        }

        .img-1 {
            max-width: 100%;
            width: auto;
        }

        .mgt-30 {
            margin-top: 30px;
        }

        .mgt-50 {
            margin-top: 50px;
        }

        .repImgDiv {
            margin-right: 15px;
            height: auto;
            width: 50%;
        }

        .repImg {
            width: 100%;
            height: 400px;
        }

        .wd50 {
            height: auto;
            width: 50%;
        }

        .tab-notice {
            font-size: 10px;
            max-width: 120%;
            font-family: "Montserrat", Arial, sans-serif;
            background: #fff;
            line-height: 1.8;
            font-weight: 400;
            color: gray;
        }

        .tab-wid1 {
            width: 12%;
        }

        .tab-wid2 {
            width: 88%;
        }

    </style>
</head>

<div layout:fragment="content">

    <div style="margin-left:25%;margin-right:25%">
        <br><br><br>
        <input type="hidden" id="itemDTO" th:value="${itemDTO.ino}">


        <div class="d-flex">
            <div class="repImgDiv">


                <div class="col">
                    <div class="card" th:if="${itemDTO.fileNames != null && itemDTO.fileNames.size() > 0}">
                        <img class="text-center" th:src="|/view/${itemDTO.fileNames[0]}|">
                        <!-- <img class="text-center"
                              th:each="filename: ${itemDTO.fileNames}"
                              th:src="|/view/${itemDTO.fileNames[0]}|">-->
                    </div>
                </div>

                <!--  <img th:src="${itemDTO.fileNames[0]}" class = "rounded repImg" th:alt="${itemDTO.i_name}">-->
            </div>
            <div class="wd50">

                <div class="h4" th:text="${itemDTO.i_name}"></div>
                <hr class="my-4">

                <div class="text-right">
                    <div class="h4 text-danger text-left">

                        <input type="hidden" th:value="${itemDTO.i_price}" id="i_price" name="i_price">
                        <span th:text="${itemDTO.i_price} + '원'"></span>
                    </div>
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${itemDTO.i_price}">
                        <input id="i_size" name="i_size" type="hidden" th:value="${itemDTO.i_size}">
                        <span>사이즈 : [[${itemDTO.i_size}]] </span>
                    </div>
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${itemDTO.i_color}" id="i_color" name="i_color">
                        <span th:text="'컬러'+${itemDTO.i_color}"></span>
                    </div>
                    <div class="input-group w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text">수량</span>
                        </div>
                        <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </div>
                </div>
                <hr class="my-4">
                <div class="text-right mgt-50">
                    <h5>결제 금액</h5>
                    <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                </div>
                <button type="button" class="btn_cart">장바구니</button>


            </div>
        </div>

        <hr>
        <br><br><br><br><br><br>
        <hr>



        <div class="jumbotron jumbotron-fluid mgt-30">
            <div class="container">
                <h4>상품 상세 설명</h4>
                <div class="col">
                    <div class="card" th:if="${itemDTO.fileNames != null && itemDTO.fileNames.size() > 0}">
                        <img class="text-center"
                             th:each="filename: ${itemDTO.fileNames}"
                             th:src="|/view/${filename}|">
                    </div>
                </div>
            </div>
        </div>


        <br><br><br>
        <hr>
        <br><br><br>

        <table class="tab-notice">
            <tr>
                <td class="tab-wid1">
                    배송정보
                </td>
                <td class="tab-wid2">
                    <ul>
                        <li>배송 방법 : 택배</li>
                        <li>배송 지역 : 전국지역</li>
                        <li>배송 비용 : 2,500원</li>
                        <li>배송 기간 : 1일 ~ 5일</li>
                        <li>배송 안내 : - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.</li>
                        <li>고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다.</li>
                        <li>다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다.</li>
                        <li>택배 상황에 따라 배송이 4-7일 지연되기도 하니 꼭 감안후 구매하시기 바랍니다.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    교환/반품 안내
                </td>
                <td>
                    <ul>
                        <li>교환/반품 신청은 배송완료 후 7일 이내 가능합니다.</li>
                        <li>변심 반품의 경우 왕복배송비를 차감한 금액이 환불되며, 제품 및 포장 상태가 재판매 가능하여야 합니다.</li>
                        <li>상품 불량인 경우는 배송비를 포함한 전액이 환불됩니다.</li>
                        <li>출고 이후 환불요청 시 상품 회수 후 처리됩니다.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    기타 기준 사항
                </td>
                <td>
                    <ul>
                        <li>미성년자는 상품 구입시 법정대리인이 동의하지 아니하면 미성년자 본인 또는 법정대리인이 구매 취소 할 수 있습니다.</li>
                    </ul>
                </td>
            </tr>
        </table>
        <br><br><br>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--axios 사용-->
    <script th:src="@{/js/cart.js}"></script>
    <script>
        $('.btn_cart').on('click', function () { //클래스이기때문에 . 사용
            // 장바구니 버튼 클릭 시
            debugger

            let itemId = $("#itemDTO").val();// 상품 아이디
            let count = $("#count").val(); // 상품 수량 # = id이기 때문에
            let size = $("#i_size").val();// 상품 사이즈
            let color = $("#i_color").val(); // 상품 색상

            console.log("itemId : " + itemId);
            console.log("count : " + count);
            console.log("size: " + size);
            console.log("color : " + color);
            let cartObj = {
                itemId: itemId,
                count: count,
                size: size,
                color: color
            }
            console.log(cartObj);

            cartReady(cartObj).then(result => {
                debugger
                if(result.cdid !== null){ // = 성공했을 때
                    alert("장바구니에 담겼습니다.");
                    window.location.href = '/admin/list';
                } else {
                    alert("장바구니에 실패습니다.");
                }

            })

        });
    </script>

</div>
