<html layout:decorate="~{layout/basic.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>무신사 | 회원가입</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <script  src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
        @import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: 0px solid;
        }

        section {
            font-size: 0.9rem;
            line-height: 1rem;
            letter-spacing: 0.1px;
        }

        h1 {
            color: #999;
            font-size: 4rem;
            line-height: 4rem;
            text-transform: uppercase;
        }

        h2 {
            font-size: 2.4rem;
            line-height: 2.4rem;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.4rem;
            line-height: 1.4rem;
        }

        h4 {
            font-size: 1.1rem;
            line-height: 1.1rem;
        }

        .button-wrap {
            text-align: center;
            padding-top: 10rem;
        }

        button {
            font-size: 0.7rem;
            text-transform: uppercase;
            padding: 10px 30px;
            border: 1px solid #ccc;
            background: white;
            transition: 0.3s;
        }

        button:hover {
            background: crimson;
            color: white;
            cursor: pointer;
        }

        ul li {
            list-style: none;
        }

        a.top {
            position: fixed;
            right: 5%;
            bottom: 100px;
            display: none;
            font-size: 1.5rem;
            color: #222;
            z-index: 99;
            background: #b9aba2;
            padding: 10px 10px 10px 10px;
            border-radius: 50%;
        }

        .path {
            width: 25px;
            margin-bottom: 0px;
            filter: brightness(100) grayscale(0);
            opacity: .7;
        }

        .join {
            width: 100%;
        }

        .join_info {
            padding: 5rem 0 5rem;
        }

        .join_info h3 {
            margin-top: 160px;
        }

        .join_info h3 {
            padding-bottom: 25px;
            margin-bottom: 40px;
            font-size: 1.9rem;
            font-weight: 600;
            color: #222;
            border-bottom: 2px solid #222;
        }

        .join_info h4 {
            margin: 30px 0;
            font-size: 1.5rem;
            line-height: 1.6rem;
            color: #333;
        }

        .join_info button {
            width: 200px;
            padding: 10px 0;
            border: 1px solid #000;
            border-radius: 0;
            font-size: 1.5rem;
            color: #000;
        }

        .join_info button:hover {
            background: #000;
            color: #fff;
        }

        .join_info {
            padding: 5rem 0;
        }

        .optional > label, .optional > input {
            font-size: 1.5rem;
            color: #000;
            padding-right: 30px;
            padding-bottom: 20px;
            display: inline-block;
        }

        .terms {
            font-size: 1.2rem;
            font-weight: 300;
            text-decoration: underline;
            padding-left: 20px;
            color: #aaa;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        .required label {
            width: 100%;
            display: inline-block;
            font-size: 1.5rem;
            color: #000;
            display: inline-block;
        }

        .required input {
            font-size: 1.5rem;
            color: #000;
            width: 100%;
            height: 60px;
            line-height: 40px;
            display: block;
            letter-spacing: -0.6px;
            border-bottom: 1px solid #d6d6d6;
            color: #d6d6d6;
            margin-bottom: 50px;
        }

        input::placeholder {
            color: #d6d6d6;
            font-weight: 300;
        }

        .info3 label, .info4 label, .info5 label {
            padding-right: 30px;
            padding-bottom: 20px;
        }

        .info5 {
            display: block;
            float: left;
        }

        .info5_1 {
            margin-bottom: 10px;
        }

        .info3 label input:checked, .info4 label input:checked {
            background: red;
        }

        .info3 label span, .info4 label span, .info5 label span {
            font-size: 1.6rem;
            font-weight: 400;
            color: #222;
            text-transform: uppercase;
        }

        .join_info4 h4 {
            margin: 30px 0;
            font-size: 1.2rem;
            line-height: 1.2rem;
            color: #333;
        }

        .info5_1 span {
            font-size: 1.6rem;
            font-weight: 800;
        }

        .join p {
            margin: 5rem 0;
            margin-bottom: 50px;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #222;
        }

        .submitBtn {
            width: 250px;
            padding: 10px 100px;
            border: 1px solid #000;
            border-radius: 0;
            font-size: 1.5rem;
            color: #000;
            transition: .5s;
        }

        .submitBtn:hover {
            background: #000;
            color: #fff;
        }

        .white-popup {
            position: relative;
            background: #FFF;
            padding: 20px;
            width: auto;
            max-width: 1100px;
            margin: 20px auto;
        }
    </style>
</head>

<div layout:fragment="content">

    <section class="join" style="width: 65%; margin: 0 auto;">
        <h1>JOIN.</h1>

        <div class="join_info">

            <h3 style="margin-top: 80px;">필수사항</h3>

            <form action="/member/join" id="registerForm" method="post">

                <span class="required">

                <div class="id_section" style="width: 20%; float: left;">
                    <label><span>ID</span>
                    <input name="m_id" id="id" type="text">
                    </label>
                </div>

                <div style="width: 30px; float: left;">
                    <label><input type="text" value="@" readonly><label>
                </div>

                <div class="id_section" style="width: 30%; float: left;">
                    <label>
                    <input name="m_email" id="email" type="text">
                    </label>
                </div>
                    <!--<button class="btn authentication_btn" type="button">메일 인증</button>-->

                <label><span>비밀번호</span>
                    <input name="m_pw" placeholder="8~15자 이내의 영문, 숫자 및 특수문자 조합" type="text">
                </label>

                <label><span>비밀번호 확인</span>
                    <input name="pw_confirm" placeholder="8~15자 이내의 영문, 숫자 및 특수문자 조합" type="text">
                </label>
                    </span>

                <span class="optional">
                <h3>가입경로(선택)</h3>
                <label>
                    <input name="m_join_path" type="checkbox" value="search">
                    <span>검색</span>
                </label>
                <label>
                    <input name="m_join_path" type="checkbox" value="social_media">
                    <span>소셜미디어</span>
                </label>
                <label>
                    <input name="m_join_path" type="checkbox" value="recommendation">
                    <span>주변 추천</span>
                </label>
                <label>
                    <input name="m_join_path" type="checkbox" value="offline_store">
                    <span>오프라인 매장</span>
                </label>
                <label>
                    <input name="m_join_path" type="checkbox" value="other">
                    <span>기타</span>
                </label>

                <h3>약관 동의</h3>
                <label class="info5_1">
                    <input id="Allagreement"onChange="toggleAllAgree()" type="checkbox">
                    <span>전체동의</span>
                </label><br>

                <!--회원 이용약관 숨기기-->
                <div class="white-popup mfp-hide" id="test-popup-1">
                    <h2>itc 서비스 이용약관</h2>
                    <h3>제1조 (목적)</h3>
                    <p>
                        본 약관은 itc 서비스(이하 "서비스")에 가입한 회원이 it-clothes (이하 "회사")가 제공하는 서비스를
                        이용함에 있어 회원 및 회사 간의 제반 권리 의무와 관련 절차 등을 규정하는데 그 목적이 있습니다.
                    </p>

                    <h3>제2조 (용어의 정의)</h3>
                    <p>
                        이 약관에서 사용하는 용어의 정의는 다음과 같으며, 정의되지 않은 용어에 대한 해석은 관계법령 및 별도 안내에서
                        정하는 바에 따릅니다.
                    </p>
                    <ol>
                        <li>
                            <strong>itc 서비스</strong>: 단말기(모바일, 태블릿 PC 등의 장치를 포함)를 이용하는 "회원"이 광고물의
                            제작 또는 SNS를 활용한 공유를 통하여 포인트를 획득할 수 있는 서비스로 광고주가 광고를 게시하면 회원은
                            광고주가 원하는 광고물 제작 또는 SNS에 공유를 수행하고 그에 대한 포인트를 적립한 후 해당 포인트를
                            현금 또는 기타 상품 등으로 교환할 수 있는 광고 서비스입니다.
                        </li>
                        <li>
                            <strong>itc 회원</strong>(이하, "회원"): 본 약관에 동의 후 이용계약을 체결하고, 서비스에 정상적으로
                            가입되어 "서비스"를 이용하는 고객을 의미합니다.
                        </li>
                        <li>
                            <strong>itc 계정(ID)</strong>: 회원의 식별과 서비스 이용을 위하여 회원이 가입시 입력한 정보(이메일
                            등)를 기반으로 생성된 고유 ID를 의미합니다.
                        </li>
                        <li>
                            <strong>포인트</strong>: 회원이 회사가 정한 규정에 따라 itc에서 현금 환급 등이 가능한 포인트를
                            말하며 재화로서의 가치는 없습니다.
                        </li>
                    </ol>
                    <h3>제 3 조 (약관의 효력 및 변경)</h3>
                    <ol>
                        <li>
                            본 약관은 "itc" 최초 회원 가입 시에 공지되며 이에 대하여 "회원"이 동의함으로써 효력이 발생합니다.
                            만약, 동 약관에 동의하지 않으시면 회원 가입을 중단하시면 됩니다. 이 경우 "itc"의 서비스를 더 이상
                            사용하실 수 없습니다. "회사"는 이 약관의 내용을 "회원"이 쉽게 알 수 있도록 itc 서비스 내 초기화면
                            하단에 상시 게시합니다.
                        </li>
                        <li>
                            "회사"는 합리적인 사유가 발생할 경우 "약관의 규제에 관한 법률", "정보통신망이용촉진 및 정보보호등에 관한
                            법률(이하 "정보통신망법")" 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
                        </li>
                        <li>
                            "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 적용일자 7일 전부터
                            "itc" 공지사항에 게시하거나, 이메일 또는 문자 서비스를 통하여 "회원"에게 개별적으로 통지합니다.
                            다만, "회원"에게 불리한 약관의 개정의 경우에는 그 적용일자 30일 전부터 위와 같은 방법으로 개별 통지합니다.
                            ("회원"의 연락처 변경 등으로 인하여 개별통지가 어려운 경우에 한하여 본 약관에 의한 공지를 함으로써 개별
                            통지한 것으로 간주합니다.)
                        </li>
                        <li>
                            "회사"가 전항에 따라 개정약관을 공지 또는 통지하면서 "회원"이 약관 개정 적용 일까지 "회원"이 명시적으로
                            거부의사를 표시하지 아니하거나 본 "itc"를 계속 사용할 경우, "회원"이 개정약관에 동의한 것으로 봅니다.
                        </li>
                        <li>
                            "회원"이 개정약관의 적용에 동의하지 않는 경우 "회사"는 개정 약관의 내용을 적용할 수 없으며, 이 경우
                            "회원"은 이용계약을 해지할 수 있습니다.
                        </li>
                        <li>
                            "회원"이 변경된 약관을 알지 못하여 발생한 손해에 대하여 "회사"는 책임을 지지 아니합니다.
                        </li>
                    </ol>
                    <h3>제4조 (약관 외 준칙)</h3>
                    <p>
                        본 약관에 명시되지 않은 사항에 대해서는 전기통신기본법, 전기통신사업법 등 관계법령, 상관례 및 "회사"가 정한
                        "itc"의 운영 정책 등의 규정에 의합니다.
                    </p>

                    <h3>제5조 (이용계약 성립 및 승낙)</h3>
                    <ol>
                        <li>
                            이용계약은 만 14세 이상인 "회원"이 본 "itc" 가입 과정 상의 본 약관이 명시된 창에서 '동의' 버튼을 누르면
                            본 약관에 동의하는 것으로 간주됩니다. "서비스"를 이용하고자 하는 만 14세 미만의 이용고객은
                        </li>
                        <li>
                            "회사"는 "가입신청자"의 신청에 대하여 "itc" 이용을 승낙함을 원칙으로 하며, 이용계약은 "회원"의
                            "itc" 신청에 대하여 "회사"가 승낙함으로써 성립됩니다.
                        </li>
                    </ol>
                    <h3>제 6 조 (이용 신청에 대한 승낙의 제한)</h3>
                    <ol>
                        <li>
                            "회사"는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.
                            <ol type="a">
                                <li>
                                    "회원"이 소지한 단말기가 본 "itc"를 지원하지 않는 등 기술상 "itc" 제공이 불가능 한 경우 또는
                                    "itc" 관련 설비의 여유가 없거나 업무 상 문제가 있는 경우
                                </li>
                                <li>
                                    가입신청자가 이 약관에 의하여 이전에 "회원"자격을 상실한 적이 있는 경우, 단 "회사"의 "회원" 재가입
                                    승낙을 얻은 경우에는 예외로 함.
                                </li>
                                <li>타인의 명의를 이용한 경우</li>
                                <li>허위의 정보를 기재하거나, "회사"가 제시하는 내용을 기재하지 않은 경우</li>
                                <li>14세 미만 아동이 법정대리인(부모 등)의 동의를 얻지 아니한 경우</li>
                                <li>"회원"의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우</li>
                            </ol>
                        </li>
                        <li>
                            제1항 나. 호 내지 다. 호에 따른 신청에 있어 "회사"는 "회원"의 종류에 따라 전문기관을 통한 실명확인 및 본인인증을
                            요청할 수 있습니다.
                        </li>
                        <li>
                            제1항에 따라 "회원" 가입신청의 승낙을 하지 아니하거나 유보한 경우, "회사"는 원칙적으로 이를 가입신청자에게 알리도록
                            합니다.
                        </li>
                        <li>
                            "회사"는 "회원"에 대해 "회사"정책에 따라 등급별로 구분하여 이용시간, 이용횟수, "itc" 메뉴 등을 세분하여 이용에
                            차등을 둘 수 있습니다.
                        </li>
                        <li>
                            "회사"는 "회원"에 대하여 "영화 및 비디오물의 진흥에 관한 법률" 및 "청소년보호법"등에 따른 등급 및 연령 준수를 위해
                            이용제한이나 등급별 제한을 할 수 있습니다.
                        </li>
                    </ol>
                    <h3>제7조 (“회원”정보의 변경)</h3>
                    <ol>
                        <li>
                            "회원"은 "itc"내 "정보수정" 화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만,
                            "itc" 관리를 위해 필요한 ID, 닉네임 등은 수정이 불가능합니다.
                        </li>
                        <li>
                            "회원"은 "회원" 가입신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 기타 방법으로 "회사"에
                            대하여 그 변경사항을 알려야 합니다. 변경사항을 "회사"에 알리지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.
                        </li>
                        <li>
                            회원은 본인의 개인정보를 허위로 설정하여 부당한 방법으로 이익을 취할 경우, 당사자의 포인트는 소멸되며 서비스 이용이
                            제한될 수 있습니다.
                        </li>
                    </ol>

                    <h3>제8조 (계약해지 및 이용제한)</h3>
                    <ol>
                        <li>
                            "회원"은 언제든지 "itc" 내 "회원 탈퇴" 메뉴를 통하여 이용계약 해지 신청을 할 수 있으며, "회사"는 관련법 등이
                            정하는 바에 따라 이를 즉시 처리하여야 합니다.
                        </li>
                        <li>
                            "회원"이 계약을 해지할 경우, 관련법 및 개인정보취급방침에 따라 "회사"가 "회원"정보를 보유하는 경우를 제외하고는 해지
                            즉시 "회원"이 보유하고 있는 포인트를 포함한 "회원"의 관련 데이터는 소멸되며, 재 가입 후에도 재 생성되지 아니합니다.
                        </li>
                        <li>
                            "회사"는 "회원"이 약관의 의무를 위반하거나 "itc"의 정상적인 운영을 방해한 경우, 경고, 일시정지, 영구이용정지 등으로
                            "itc" 이용을 단계적으로 제한할 수 있습니다.
                        </li>
                        <li>
                            "회사"는 전항에도 불구하고, 단말기의 초기화 또는 VM(가상머신)등을 활용한 반복적 적립, "주민등록법"을 위반한 명의도용 및
                            결제도용, 전화번호 도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해,
                            "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시
                            영구이용정지를 할 수 있습니다. 본 항에 따른 영구이용정지시 "itc" 이용을 통해 획득한 혜택 등도 모두 소멸되며,
                            "회사"는 이에 대해 별도로 보상하지 않습니다.
                        </li>
                        <li>
                            "회사"는 "회원"이 계속해서 60일 이상 사용하지 않는 경우, "회원"정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수
                            있습니다.
                        </li>
                        <li>
                            "회원"탈퇴로 인해 발생한 불이익에 대한 책임은 "회원" 본인에게 있으며, 이용계약이 종료되면 "회사"는 "회원"에게 부가적으로
                            제공한 각종 혜택을 회수할 수 있습니다.
                        </li>
                        <li>
                            본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 "회사"의 운영 정책에서 정하는 바에 의합니다.
                        </li>
                        <li>
                            본 조에 따라 "itc" 이용을 제한하거나 계약을 해지하는 경우에는 "회사"는 회원의 이메일로 그 사실을 통지합니다. 단,
                            4)항의 경우 "회사"는 별도의 통지 없이 계약 해지 및 영구이용정지를 할 수 있습니다
                        </li>
                        <li>
                            "회원"은 본 조에 따른 이용제한 등에 대해 서비스 내에 이용문의 메뉴를 이용하여 이의신청을 할 수 있습니다. 이 때 이의가
                            정당하다고 "회사"가 인정하는 경우 "회사"는 즉시 "itc"의 이용을 재개합니다.
                        </li>
                    </ol>

                    <h3>제9조 (itc 서비스)</h3>
                    <p>회사가 본 약관에 정해진 바에 따라 회원에게 제공하는 서비스는 다음 각 호와 같으며 서비스를 이용하고자 하는 고객은 본 약관에
                        정해진 제반 절차를 거쳐 회원으로 가입하여야 합니다. 단, 본 서비스는 SNS 공유 기능을 활용한 광고 서비스로써 그 특성상 광고주의
                        요구에 따라 회원들은 일부 서비스의 이용조건, 이용범위 등이 제한되거나 회원에게 일정한 자격요건이 요구될 수 있으며, 이 경우
                        회사는 그 제한사항 및 자격요건을 회원에게 고지해드립니다.</p>

                    <h3>제10조 (콘텐츠의 관리)</h3>
                    <ol>
                        <li>
                            "회사"는 "회원"이 등록한 콘텐츠를 회사 운영사이트에 노출하거나 기타 마케팅활동 자료로 활용할 수 있다.
                        </li>
                        <li>
                            "회사"는 "회원"에게 콘텐츠 제작에 사용한 영상 및 이미지 원본을 요청할 수 있으며, 콘텐츠 내용을 수정 편집하고 초상권을 사용하는 것에
                            대해 "회원"이 동의한 것으로 간주한다.
                        </li>
                        <li>
                            "회사"는 회원탈퇴 후에도 해당 "회원"이 등록한 콘텐츠를 노출하거나 활용할 수 있다.
                        </li>
                        <li>
                            "회사"는 "회원"이 등록한 콘텐츠가 아래 각 호에 해당하는 경우에 별도의 통보 없이 숨김 및 삭제 등의 조치를 할 수 있다.
                            <ol type="a">
                                <li>정보통신망법 및 저작권법 등 관련법 위반 또는 그에 준하여 의심되는 경우</li>
                                <li>타인의 명예 훼손 및 권리침해 또는 그에 준하여 의심되는 경우</li>
                                <li>공공질서 또는 미풍양속에 위배 또는 그에 준하여 의심되는 경우</li>
                                <li>일방적 영리 및 광고 목적 또는 그에 준하여 의심되는 경우</li>
                                <li>기타 서비스 운영 정책에 반하는 경우</li>
                            </ol>
                        </li>
                        <li>
                            등록 콘텐츠는 천재지변, 불가항력, 시스템 오류 등으로 손실 및 삭제될 수 있다.
                        </li>
                        <li>
                            모든 콘텐츠(게시글, 댓글 등 포함)의 손실 및 삭제로 인한 피해에 관하여 회사는 별도의 보상을 하지 않는다.
                        </li>
                    </ol>

                    <h3>제11조 (서비스의 내용 및 변경)</h3>
                    <ol>
                        <li>
                            회사는 서비스 사이트를 통하여 회원에 대한 itc 관련 제반 서비스 및 정보의 제공, 기타 회사가 정하는 업무를 수행합니다.
                        </li>
                        <li>
                            회사는 운영상, 기술상의 필요에 따라 제공하는 서비스의 전부 또는 일부를 변경할 수 있으며, 이에 대하여 약관에 다른 규정이 없는 한
                            회원에게 별도의 보상을 하지는 않습니다. 회사는 중요한 서비스의 내용을 변경하고자 할 경우에는 변경될 서비스의 내용 및 제공일자를
                            공지합니다. 단, 변동내용을 구체적으로 공지하기가 불가능한 경우에는 7일 전에 그 취지 및 공지가 불가능한 변동사유를 공지합니다.
                        </li>
                    </ol>

                    <h3>제12조 (서비스의 일시 중단)</h3>
                    <ol>
                        <li>
                            회사는 컴퓨터 등 정보통신설비의 점검, 보수, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로
                            중단할 수 있습니다.
                        </li>
                        <li>
                            본 조 제1항의 사유로 서비스를 중단하고자 할 경우 회사는 itc 서비스 내 공지사항을 통하여 회원에게 서비스 중단사실을 알려드립니다.
                        </li>
                        <li>
                            회사의 고의 또는 과실에 기인한 서비스의 부당한 중단 및 시스템 장애로 회원이 손해를 입은 경우, 회사는 통상적으로 예상 가능한 범위
                            내에서 동 손해를 배상합니다.
                        </li>
                    </ol>

                    <h3>제13조 (포인트 적립)</h3>
                    <ol>
                        <li>
                            itc 서비스에서 요구하는 광고물의 제작 또는 광고 게시 및 요청 액션이 완료되면 포인트를 부여받게 됩니다. 포인트 적립을 위하여
                            특정 "회원"의 자격요건이 요구될 수 있습니다.
                        </li>
                        <li>
                            서비스 내 적립 포인트로 명시된 포인트만큼의 포인트가 적립되며 이는 "적립금 리포트 " 메뉴에서 확인할 수 있습니다.
                        </li>
                        <li>
                            포인트의 적립 및 사용과 관련하여 발생하는 제세공과금 및 원천징수대상 사업소득 (3.3%) 은 회원이 부담하는 것을 원칙으로 합니다.
                        </li>
                    </ol>

                    <h3>제14조 (포인트 현금환급 및 제휴컨텐츠 이용)</h3>
                    <ol>
                        <li>
                            가용포인트는 itc 서비스에 등록된 회사가 제공하는 제휴한 컨텐츠(상품) 구매 시 또는 현금 환급 시 사용할 수 있으며 해당 바코드
                            또는 약정된 상품 쿠폰 또는 현금이 전송되거나 이체됨으로써 적법하게 지급한 것으로 봅니다.
                        </li>
                        <li>
                            회원은 포인트를 타인에게 대여 또는 담보의 목적으로 이용할 수 없습니다. 다만, 회사가 인정하는 적법한 절차를 따른 경우는 예외로
                            합니다.
                        </li>
                    </ol>

                    <h3>제15조 (포인트 정정, 취소 및 소멸)</h3>
                    <ol>
                        <li>
                            포인트 적립에 오류가 있을 경우 회원은 오류발생 시점부터 30일 이내에 회사에 정정 신청을 하여야 하며, 회사는 회원의 정정 신청일로부터
                            30일 이내에 조정할 수 있습니다.
                        </li>
                        <li>
                            회원이 본 서비스를 통해 12개월이 경과하는 동안 포인트 적립을 하지 않는 경우 회원에게 기 적립된 포인트는 자동적으로 소멸됩니다.
                        </li>
                    </ol>

                    <h3>제16조 (회사의 의무)</h3>
                    <ol>
                        <li>
                            회사는 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 "서비스"를 제공하기 위하여 최선을
                            다하여 노력합니다.
                        </li>
                        <li>
                            회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을
                            공시하고 준수합니다.
                        </li>
                        <li>
                            회사는 서비스이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. 회원이 제기한
                            의견이나 불만사항에 대해서는 itc 서비스 내 공지사항을 활용하거나 이메일 등 개별적으로 "회원"에게 처리과정 및 결과를 전달합니다.
                        </li>
                    </ol>
                    <h3>제 17 조 (회원의 의무)</h3>
                    <p>회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.</p>
                    <ol>
                        <li>서비스 이용 관련 신청 또는 변경 시 허위내용 등록 행위</li>
                        <li>서비스 내 게시된 각종 정보의 무단 변경, 삭제 등 훼손 행위</li>
                        <li>다른 회원의 명예를 손상시키거나 개인정보를 수집하는 행위</li>
                        <li>회사가 허용한 정보 이외의 다른 정보(컴퓨터 프로그램 및 광고 등)를 송신하거나 게시하는 행위</li>
                        <li>일체의 가공행위를 통해 서비스를 분해, 모방 또는 변형하는 행위</li>
                        <li>회사 및 제3자의 저작권 등 지적재산권에 대한 침해 행위</li>
                        <li>외설 또는 폭력적인 정보(메시지, 화상, 음성 등), 기타 공서양속에 반하는 정보를 서비스에 공개하거나 게시하는 행위</li>
                    </ol>
                    <h3>제 18 조 (저작권의 귀속 및 이용제한)</h3>
                    <ol>
                        <li>회사가 작성한 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속합니다.</li>
                        <li>회원은 서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.</li>
                        <li>회사의 서비스에서 제공되는 모든 콘텐츠(사진, 동영상, 게시글 등)는 저작권법에 의하여 보호받는 저작물로 별도의 저작권 표시 또는 다른 출처를 표시한 경우를 제외하고는 원칙적으로 회사에 저작권이 있습니다.</li>
                        <li>회사는 저작권법 및 기타 법령을 준수하고 저작권법의 보호를 받는 저작물에 관한 판단은 법과 판례를 따릅니다.</li>
                        <li>회사는 서비스 내 게시물이 저작권 및 타인의 권리를 침해하거나 회사의 정책 또는 관련 법령에 위배되는 경우 해당 게시물을 삭제할 수 있습니다.</li>
                        <li>회원이 회사가 제공하는 서비스를 이용하면서 작성한 각종 게시물의 저작권은 이를 작성한 회원 본인에게 있으며, 해당 게시물의 저작권 침해를 비롯한 민·형사상 모든 책임은 회원 본인이 부담합니다.</li>
                        <li>회원이 수집을 허가한 콘텐츠에 대한 저작권은 게시한 회원에게 있으며, 회사는 해당 콘텐츠를 위한 연결 정보의 생성 및 검색을 위하여 서버에 콘텐츠에 대한 일정 크기의 사본을 저장합니다.</li>
                        <li>회사가 제공하는 서비스를 통해 제작된 회원의 콘텐츠는 회사가 보상을 지급했거나, 지급하기로 약속한 경우, 콘텐츠의 국내외 사용권을 갖습니다. 사용권에는 해당 콘텐츠의 복제권, 전시권, 배포권 및 2차적 저작물 작성권 및 해당 콘텐츠에 포함된 회원의 초상권이 포함됩니다. 이를 원하지 않으실 경우 캠페인 신청을 취소하거나 이미 캠페인을 진행한 경우 본 조 제 4항에 규정된 절차에 따라 사용권 중단 요청을 할 수 있습니다.</li>
                        <li>만일 회원이 캠페인이 진행된 후 전항에 따라 회사에게 부여된 사용권의 중단을 원한다면, 정상적으로 콘텐츠 등록을 완료한 날로부터 1년이 경과한 후 회사에 사용권 중단 요청을 할 수 있으며, 그 기간 중 탈퇴한 회원은 전문과 동일한 기간이 경과한 후 회사에 사용권 중단 요청을 할 수 있습니다. 이미 회원의 동의를 거쳐 광고주에게 제공된 콘텐츠에 대한 사용권 중단에 관하여는, 전문과 동일한 기간이 경과한 후 해당 광고주에게 사용권 중단 요청을 할 수 있습니다.</li>
                        <li>회사는 제2항에 따라 허락된 사용기간 동안 회원이 등록한 콘텐츠, 링크 또는 콘텐츠 내에 포함된 멀티미디어를 각각 또는 결합하여 클라이언트에게 제공하거나, 국내외 마케팅에 활용할 수 있습니다.</li>
                        <li>전항의 경우, 회사는 등록된 콘텐츠를 출처를 포함하여 광고주에게 제공할 수 있으며, 이때 회사는 콘텐츠의 취지를 벗어나지 않는 범위 내에서 해당 콘텐츠에 편집, 수정, 가공 등을 할 수 있습니다.</li>
                    </ol>

                    <h3>제 19 조 (서비스 관련 분쟁해결)</h3>
                    <p>1. 회사는 서비스 이용과 관련하여 회원으로부터 제출되는 불만사항 및 의견을 최대한 신속하게 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 조속히 통보해 드립니다.</p>
                    <p>2. 회사와 회원간에 발생한 분쟁은 전자거래기본법에 의하여 설치된 전자거래분쟁 조정위원회의 조정에 따라 처리합니다.</p>
                    <h3>제 20 조 (서비스 종료)</h3>
                    <ol>
                        <li>서비스를 종료하고자 할 경우, 회사는 서비스를 종료하고자 하는 날로부터 3개월 이전에 본 약관 제3조 제3항에 규정된 통지방법을 준용하여 회원에게 알려드립니다.</li>
                        <li>본 조 제1항에 따른 서비스 종료 통지가 있은 날("통지일") 현재 기 적립된 포인트는 회사가 별도 지정하는 날("서비스 종료일")까지 본 약관이 정하는 바에 따라 현금환급을 받거나 제휴 컨텐츠를 이용해 소진하여야 합니다. 서비스 종료일까지 사용하지 않은 포인트는 자동으로 소멸됩니다.</li>
                        <li>종료 통지일로부터 서비스 종료일까지 서비스의 일부가 제한될 수 있으며, 서비스 종료일 이후에는 회사로부터 서비스를 제공받지 못합니다.</li>
                    </ol>

                    <h3>제 21 조 (책임제한)</h3>
                    <ol>
                        <li>“회사”는 천재지변 또는 이에 준하는 불가항력으로 인하여 “itc” 서비스를 제공할 수 없는 경우에는 “itc” 서비스 제공에 관한 책임이 면제됩니다.</li>
                        <li>“회사”는 “회원”의 귀책사유로 인한 “itc” 이용의 장애에 대하여는 책임을 지지 않습니다.</li>
                        <li>“회사”는 “회원”이 “itc”와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.</li>
                        <li>“회사”는 “회원” 간 또는 “회원”과 제3자 상호간에 “itc”을 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.</li>
                        <li>“회사”는 무료로 제공되는 “itc” 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.</li>
                        <li>“회사”는 제3자가 “itc”내 화면 또는 링크된 웹사이트를 통하여 광고한 제품의 내용과 품질에 대하여 감시할 의무 등 기타 어떠한 책임도 지지 아니합니다.</li>
                        <li>“회사”및 “회사”의 임직원 그리고 대리인은 다음과 같은 사항으로부터 발생하는 손해에 대해 책임을 지지 아니합니다.
                            <ol type="1">
                                <li>“회원” 상태정보의 허위 또는 부정확성에 기인하는 손해</li>
                                <li>그 성질과 경위를 불문하고 “itc”에 대한 접속 및 “itc”의 이용과정에서 발생하는 개인적인 손해</li>
                                <li>서버에 대한 제3자의 모든 불법적인 접속 또는 서버의 불법적인 이용으로부터 발생하는 손해</li>
                                <li>서버에 대한 전송 또는 서버로부터의 전송에 대한 제3자의 모든 불법적인 방해 또는 중단행위로부터 발생하는 손해</li>
                                <li>제3자가 “itc”를 이용하여 불법적으로 전송, 유포하거나 또는 전송, 유포 되도록 한 모든 바이러스, 스파이웨어 및 기타 악성 프로그램으로 인한 손해</li>
                                <li>전송된 데이터의 오류 및 생략, 누락, 파괴 등으로 발생되는 손해</li>
                                <li>“회원”간의 “itc” 이용 과정에서 발생하는 명예훼손 기타 불법행위로 인한 각종 민형사상 책임</li>
                            </ol>
                        </li>
                    </ol>
                    <h3>제 22 조 (준거법 및 재판관할)</h3>
                    <ol>
                        <li>"회사”와 “회원”간 제기된 소송은 대한민국법을 준거법으로 합니다.</li>
                        <li>”회사”와 “회원”간 발생한 분쟁에 관한 소송은 민사소송법 상의 법원을 관할법원으로 합니다.</li>
                    </ol>

                    <h3>제 23 조 (개인정보보호 의무)</h3>
                    <p>회사는 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다. 회원의 개인정보보호에 관해서는 관련법령 및 회사가 정하는 "개인정보 취급방침"에 정한 바에 의하며, 회원이 상시 확인할 수 있도록 itc 서비스 내에서 공지하고 있습니다.</p>
                </div>
                <label>
                    <input id="Serviceagreement" onChange="checkIndividualAgreements()" class="terms" type="checkbox">
                    <span>일룸회원 이용약관 (필수)</span>
                    <a class="terms open-popup-link" href="#test-popup-1">약관보기</a>
                </label>

                <!--정보 수집 이용 약관 숨기기-->
                <div id="test-popup-2" class="white-popup mfp-hide">
                    <h2>개인정보처리방침</h2>
                    <p>
                        (1) 개인정보 수집목적 및 이용목적
                    <ul>
                        <li>홈페이지 회원 가입 및 관리: 회원 가입 의사 확인, 회원제 서비스 제공에 따른 본인 식별․인증, 회원자격 유지․관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정 이용 방지, 만 14세 미만 아동의 개인정보 처리시 법정대리인의 동의 여부 확인, 각종 고지․통지, 고충 처리 등의 목적</li>
                        <li>재화 또는 서비스 제공: 물품 배송, 서비스 제공, 계약서․청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 연령인증, 요금 결제 및 정산, 채권추심 등의 목적</li>
                        <li>고충 처리: 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락․통지, 처리 결과 통보 등</li>
                    </ul>
                    </p>
                    <p>
                        (2) 수집하는 개인정보 항목
                    <ul>
                        <li>ID</li>
                        <li>성명</li>
                        <li>비밀번호</li>
                        <li>주소</li>
                        <li>휴대폰 번호</li>
                        <li>이메일</li>
                        <li>14세 미만 가입자의 경우 법정대리인 정보</li>
                    </ul>
                    </p>
                    <p>
                        (3) 개인정보 보유 및 이용기간
                        <br>
                        회원탈퇴 시까지 (단, 관계 법령에 보존 근거가 있는 경우 해당 기간 시까지 보유, 개인정보처리방침에서 확인 가능)
                    </p>
                </div>
                <label>
                    <input id="Privacyagreement" onChange="checkIndividualAgreements()" class="terms" type="checkbox">
                    <span>개인정보 수집 및 이용 (필수)</span>
                    <a class="terms open-popup-link" href="#test-popup-2">약관보기</a>
                </label>

                <!--개인정보 약관 숨기기-->
                <div id="test-popup-3" class="white-popup mfp-hide">
                    <h3>마케팅 정보 수신 동의</h3>

                    <p>it-clothes 주식회사 (이하 'itc')는 개인정보보호법 및 정보통신망이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 따라 광고성 정보를 전송하기 위해 이용자의 사전 수신 동의를 받고 있습니다. 본 내용은 LG전자 회원 서비스가 적용되는 개별서비스의 마케팅 수신동의를 포함하고 있으며, 마케팅 정보 수신 동의 시개별서비스의 마케팅 수신에 일괄 동의한 것으로 처리됩니다.</p>

                    <h3>전송방법</h3>
                    <p>마케팅 정보 전송 방법은 itc의 각 개별서비스에서 정한 방식에 따라 전송됩니다.</p>

                    <h3>전송내용</h3>
                    <p>발송되는 마케팅 정보는 수신자에게 itc 및 개별서비스에서 제공하는 혜택(포인트, 쿠폰 등) 정보, 각종 이벤트, 신규 상품 관련 소식 등 광고성 정보로 관련 법의 규정을 준수하여 발송됩니다. 단, 광고성 정보 이외에 의무적으로 안내 되어야 하는 정보성 내용은 수신동의 여부와 무관하게 제공됩니다.</p>

                    <h3>수집항목</h3>
                    <ul>
                        <li>이메일</li>
                        <li>이름</li>
                        <li>전화번호</li>
                        <li>회사 주소</li>
                    </ul>

                    <h3>이용목적</h3>
                    <p>소식지 서비스 제공, 신제품 및 이벤트 안내, 이벤트 경품/사은품 제공, 할인행사, 고객 맞춤 마케팅/판촉 등 관련 이메일 및 SMS 등 발송</p>

                    <h3>철회안내</h3>
                    <p>수신동의 이후에라도 언제든지 동의를 철회할 수 있으며, 수신을 동의하지 않아도 회사가 제공하는 기본적인 서비스를 이용하실 수 있습니다. 다만 수신 거부할 경우 신규 서비스나 상품 관련 소식 등의 마케팅 정보를 제공받지 못할 수 있습니다.</p>

                    <h3>수신동의 변경 및 보유기간</h3>
                    <p>보유 기간 : 마케팅 정보 수신 동의로부터 2년, 기간 초과 시 동의 절차 재진행 (미동의 시, 즉시 파기) <br>
                        itc 정보수정 페이지에서 개별서비스의 마케팅 수신동의를 변경(동의/철회)할 수 있으며, 동의일로부터 회원 탈퇴 혹은 마케팅 수신 동의 해제 시까지 광고성 정보 전달을 위하여 보유ㆍ이용 됩니다.</p>
                </div>
                <label>
                    <input name="m_optional_terms" class="terms" type="checkbox">
                    <span>마케팅 수신동의 (선택)</span>
                    <a class="terms open-popup-link" href="#test-popup-3">약관보기</a>
                </label>
            </span>

            </form>

            <div class="button-wrap">
                <button className="agreebtn" onClick="checkAgreements()">회원 가입</button>
            </div>

        </div>
    </section>

    <script>
        function goToFirstNotAgreed() {
            var individualAgreeCheckboxes = document.querySelectorAll("input[class='terms']:not(#allAgree)");

            for (var i = 0; i < individualAgreeCheckboxes.length; i++) {
                if (!individualAgreeCheckboxes[i].checked) {
                    individualAgreeCheckboxes[i].focus(); // 약관 동의를 하지 않은 첫 번째 체크박스로 포커스 이동
                    break; // 첫 번째 약관 동의 항목을 찾았으므로 반복문 중단
                }
            }
        }

        function toggleAllAgree() {
            var allAgreeCheckbox = document.getElementById("Allagreement");
            var individualAgreeCheckboxes = document.querySelectorAll(
                "input[class='terms']:not(#Allagreement)"
            );

            for (var i = 0; i < individualAgreeCheckboxes.length; i++) {
                individualAgreeCheckboxes[i].checked = allAgreeCheckbox.checked;
            }
        }

        // 개별 동의 항목 체크박스들을 확인하여 "모두 동의" 체크박스의 상태를 변경하는 함수
        function checkIndividualAgreements() {
            var allAgreeCheckbox = document.getElementById("Allagreement");
            var individualAgreeCheckboxes = document.querySelectorAll(
                "input[class='terms']:not(#Allagreement)"
            );

            for (var i = 0; i < individualAgreeCheckboxes.length; i++) {
                if (!individualAgreeCheckboxes[i].checked) {
                    // 하나라도 개별 동의 항목 체크박스가 체크 해제되었을 때 "모두 동의" 체크박스도 체크 해제
                    allAgreeCheckbox.checked = false;
                    return; // 함수 종료
                }
            }

            // 모든 개별 동의 항목 체크박스가 선택되었을 때 "모두 동의" 체크박스도 체크
            allAgreeCheckbox.checked = true;
        }

        // "동의 여부 확인" 버튼을 클릭했을 때, 항목들의 체크, 입력 여부를 확인하는 함수
        function checkAgreements() {
            var idInput = document.getElementById("id");
            var emailInput = document.getElementById("email");

            if (idInput.value.trim() === "" || emailInput.value.trim() === "") {
                alert("올바른 이메일 주소를 입력해 주세요.");
                idInput.focus();
            } else {
                var allAgreeCheckbox = document.getElementById("Allagreement");
                var agree1Checkbox = document.getElementById("Serviceagreement");
                var agree2Checkbox = document.getElementById("Privacyagreement");

                var isAllAgreed = allAgreeCheckbox.checked;
                var isAgree1 = agree1Checkbox.checked;
                var isAgree2 = agree2Checkbox.checked;

                console.log("모두 동의: " + isAllAgreed);
                console.log("개별 동의 항목 1: " + isAgree1);
                console.log("개별 동의 항목 2: " + isAgree2);

                if (isAllAgreed == true && isAgree1 == true && isAgree2 == true) {
                    document.getElementById("registerForm").submit();
                } else {
                    alert("필수 항목에 동의해야 합니다!");
                    goToFirstNotAgreed();
                }
            }
        }

        // 비밀번호 확인 함수
/*        function checkPasswordMatch() {
            var passwordInput = document.getElementById("pw");
            var confirmPasswordInput = document.getElementById("pw_confirm");

            var password = passwordInput.value.trim(); // 비밀번호 입력 필드의 값
            var confirmPassword = confirmPasswordInput.value.trim(); // 비밀번호 확인 입력 필드의 값

            // 비밀번호와 비밀번호 확인 값이 일치하는지 확인
            if (password === confirmPassword) {
                // 일치할 경우
                return true; // 폼 제출을 허용하기 위해 true 반환
            } else {
                // 일치하지 않을 경우
                alert("비밀번호가 일치하지 않습니다.");
                return false; // 폼 제출을 막기 위해 false 반환
            }
        }*/
    </script>

    <script>
        $('.open-popup-link').magnificPopup({
            type:'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
    </script>

</div>

<script layout:fragment="script" th:inline="javascript">
    const error = [[${error}]]

    if(error && error === 'm_id'){
        alert("동일한 MID를 가진 계정이 존재합니다.")
    }
</script>

