<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송지 변경</title>
</head>
<body>
<div>
    <div style="display: flex; align-items: center;">
        <h2>배송지 변경</h2>
        <button class="registerBtn" onclick="addressRegister()" type="button">신규 배송지 등록 +</button>
    </div>
</div>
<!-- 배송지 리스트가 출력될 부분 -->
<div class="listDiv" th:each="addressDTO:${addressDTOList}">
    <form action="/orders/address/remove" class="formTag" method="post">
        <input id="a_no" name="a_no" th:value="${addressDTO.a_no}" type="hidden">
        <input id="member" name="member" th:value="${addressDTO.member}" type="hidden">
        <input id="a_nickName" name="a_nickName" th:value="${addressDTO.a_nickName}" type="hidden">
    </form>
    <div style="display: flex; align-items: center;">
        <h4 th:text="${addressDTO.a_recipient + ' (' + addressDTO.a_nickName + ')'}"></h4>
        <div th:if="${addressDTO.a_basic == 1}">
            <small>기본배송지</small><br>
        </div>
    </div>
    <small class="a_phone" th:text="${addressDTO.a_phone}"></small><br>
    <small class="a_address"
           th:text="${'(' + addressDTO.a_zipCode + ') ' + addressDTO.a_address + ' ' + addressDTO.a_detail}"></small>
    <div>
        <button class="modifyBtn" th:data-ano="${addressDTO.a_no}" type="button">수정</button>
        <button class="removeBtn" th:data-ano="${addressDTO.a_no}" th:if="${addressDTO.a_basic == 0}" type="button">삭제
        </button>
        <button class="selectBtn" th:data-ano="${addressDTO.a_no}" type="button">선택</button>
    </div>
    <hr>
</div> <!-- foreach -->
</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    const removeResult = [[${removeResult}]];
    debugger
    if (removeResult === 'removed') {
        alert("배송지가 삭제되었습니다.");
    }

    function addressRegister() {
        const addressCount = [[${addressCount}]];
        if (addressCount < 5) {
            window.open('/orders/address/register', '신규 배송지', 'width=600,height=700,left=750,top=' + (screen.height - 1000) / 2);
            // 새 창으로 신규 배송지 추가 창을 띄운다.(top - 값이 높아질수록 위로)
        } else {
            alert("id당 5개까지 배송지 저장이 가능합니다.\n삭제 후 등록해주세요.");
            return;
        }
    }

    $(document).ready(function () {
        // 수정버튼 클릭 !!!
        $('.modifyBtn').click(function(e) {
            let target = e.target; // 클릭 이벤트가 일어난 요소를 가져온다.
            if (target.tagName !== 'BUTTON') { // 클릭된 요소가 버튼이 아니면 return
                return;
            }

            let ano = target.getAttribute("data-ano"); // 클릭된 버튼에 data-ano 속성값을 지정해둠
            window.open('/orders/address/modify?ano=' + ano, '배송지 수정', 'width=600,height=700,left=350,top=' + (screen.height - 1000) / 2);
            // 새 창으로 배송지 수정 창을 띄운다.(top - 값이 높아질수록 위로)
        });

        // 삭제버튼 클릭 !!!
        $('.removeBtn').click(function (e) {
            let target = e.target; // 클릭 이벤트가 일어난 요소를 가져온다.
            if (target.tagName !== 'BUTTON') { // 클릭된 요소가 버튼이 아니면 return
                return;
            }

            let ano = target.getAttribute("data-ano"); // 클릭된 버튼에 data-ano 속성값을 지정해둠
            let removeFormAll = document.querySelectorAll('.formTag');
            debugger;
            removeFormAll.forEach(function (form) {
                debugger;
                let removeAno = $(form).find('#a_no').val();
                if (ano !== removeAno) {
                    return; // 다음 반복으로 이동
                }
                let a_nickName = $(form).find('#a_nickName').val();
                if (confirm("[" + a_nickName + "] 배송지를 삭제하시겠습니까 ?")) {
                    $(form).submit(); // 확인 클릭 시 submit
                } else {
                    alert("삭제를 취소했습니다.");
                }

            });
        });

        // 선택버튼 클릭 !!!
        $('.selectBtn').click(function (e) {
            debugger;
            let target = e.target; // 클릭 이벤트가 일어난 요소를 가져온다.
            if (target.tagName !== 'BUTTON') { // 클릭된 요소가 버튼이 아니면 return
                return;
            }

            let ano = target.getAttribute("data-ano"); // 클릭된 버튼에 data-ano 속성값을 지정해둠
            let readFormAll = document.querySelectorAll('.formTag');
            debugger;
            readFormAll.forEach(function (form) {
                debugger;
                let readAno = $(form).find('#a_no').val();
                if (ano !== readAno) {
                    return; // 다음 반복으로 이동
                }
                // 배송지 번호로 배송지값(addressDTO)을 가져온다.
                readOneAddress(ano).then(result => {
                    debugger
                    let array = Math.min(3, result.addressDTOS.length); //둘중에 작은값 반환(최대 3번)
                    for (let i = 0; i < array; i++) {
                        let address = result.addressDTOS[i];

                        // 선택 버튼 생성
                        let radioButton = $('<input>', {
                            type: 'radio',
                            id: 'address' + (i + 1),
                            name: 'option',
                            value: address.a_no // 배송지번호
                        });
                        // 라벨 생성
                        let label = $('<label>', {
                            for: 'address' + (i + 1),
                            text: address.a_nickName // 배송지별칭
                        });

                        // 라디오 버튼과 라벨을 부모 요소인 div 태그에 추가
                        $('#addressDiv_DivAddress_Div').append(radioButton, label);
                    }
                    // 배송지 선택 라디오 버튼을 모두 출력 후 배송지 변경 버튼 생성
                    let addressUpdateBtn = $('<button>', {
                        type: 'button',
                        text: '배송지 변경',
                        click: function() {
                            addressModifyBtnClick(member); // 배송지 목록 창을 띄운다.
                        }
                    });
                    $('#addressDiv_DivAddress_Div').append(addressUpdateBtn);

                    // 라디오 버튼 클릭 이벤트 설정
                    let radio = $('#addressDiv_DivAddress_Div input[type="radio"]');
                    radio.on('click', function () {
                        debugger
                        let ano = $(this).val(); // 클릭한(this)배송지번호
                        readOneAddress(ano).then(addressDTO => {
                            printAddress(addressDTO);
                        })
                    })
                    // 페이지 로드 시 첫 번째 라디오 버튼을 강제로 클릭하여 배송지 정보를 띄울 수 있도록 함
                    // 위의 클릭 이벤트를 설정한 뒤에 클릭해야 실행된다 ..
                    triggerFirstRadioButtonClick();
                }).catch(e => {
                    alert("addressList Exception...");
                })
                // $(form).attr('action', '/orders/address/read');
                // $(form).attr('method', 'post');
                // $(form).submit();
            });
        });

    });

</script>
</html>